# Auto detect text files and perform LF normalization
* text=auto
backend/website_data.json filter=lfs diff=lfs merge=lfs -text
backend/faiss_store/index.faiss filter=lfs diff=lfs merge=lfs -text
backend/faiss_store/index.pkl filter=lfs diff=lfs merge=lfs -text
website_data.json filter=lfs diff=lfs merge=lfs -text
backend/faiss_store/** filter=lfs diff=lfs merge=lfs -text
**/index.faiss filter=lfs diff=lfs merge=lfs -text
**/index.pkl filter=lfs diff=lfs merge=lfs -text
**/chroma.sqlite3 filter=lfs diff=lfs merge=lfs -text
**/*.bin filter=lfs diff=lfs merge=lfs -text
